@model AdvancedCFinalProject.Models.DeveloperTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeveloperTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletionRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer.Title)
        </dd>
        @if (ViewBag.comment != null)
        {
            <dt class="col-sm-2">
                Comment
            </dt>
            <dd class="col-sm-10">
                @ViewBag.comment
            </dd>
        }

        @if (ViewBag.developer != null)
        {
            <a asp-action="Edit" asp-route-id="@Model?.TaskId" asp-route-mail="@ViewBag.developer">Leave Comment</a>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
