@model AdvancedCFinalProject.Models.Company

@*@model IEnumerable<AdvancedCFinalProject.Models.Project>*@


<h1>@Model.Title</h1>

 <h3>Projects</h3>
<p>
    <a asp-controller="Project" asp-action="CreateProject" asp-route-Cid="@Model.CompanyId">Create New Project</a>
</p>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(project => project.Title)
                </th>
                <th>
                    IsComplete
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model.Projects) 
 {    
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                <td>
                    <a asp-controller="Project" asp-action="UpdateProject" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-controller="Project" asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a> |
                    <a asp-controller="Task" asp-action="Create" asp-route-Pid="@item.ProjectId">Create new Task</a>
                </td>
            </tr>
}
        </tbody>
    </table>



@{
    ViewData["Title"] = "Details";
}


<div>

    <a asp-action="Edit" asp-route-id="@Model?.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
