@model IEnumerable<AdvancedCFinalProject.Models.Project>

@{
    ViewData["Title"] = "ProjManagerDashboard";
}

<h1>Project Manager Dashboard</h1>

<p>
<a asp-controller="Company" asp-action="DeveloperNotifications">Check Notifications - @ViewBag.NotiCount</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                @foreach(var task in @item.Tasks)
                {
                    <td>
                        @task.Title - Developer: @task.Developer.Title
                    </td>
                }
            <td>
                <a asp-controller="Company" asp-action="ProjDetails" asp-route-projId="@item.ProjectId">Project Manager View</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Company" asp-action="Index">Home</a>