@model AdvancedCFinalProject.Models.Project

@{
    ViewData["Title"] = "ProjDetails";
}

<h1>ProjDetails</h1>
<a asp-controller="Company" asp-action="HideCompleted">Hide Completed Tasks</a>
<a asp-controller="Company" asp-action="ShowCompleted">Show Completed Tasks</a>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @foreach(var task in @Model.Tasks)
            {
                @if(task.Hidden != true)
                {
                    <dd>
                        @task.Comment | Deadline: @task.Deadline | Priority: @task.Priority

                    </dd>
                }
            }
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId" style="background-color: #333; border: none; border-radius: 5px; color: white; padding: 5px 10px; text-decoration: none">Edit</a> |
    <a asp-controller="Project" asp-action="Index" style="background-color: #333; border: none; border-radius: 5px; color: white; padding: 5px 10px; text-decoration: none">Back to List</a>
</div>
